<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Time to make a poem!</h1>
    <p>
      Someone wants a poem about <%= @user.prompt %>.<br/>
    </p>
    <p>
      Write it here: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>