 <div class="rectangle">
     <div class="gBoxTall">
     	<div class="right">
     		<p class="message"> so much depends
            </p>
     	</div>
     	<div class="bottom">
     		<div class="right">
     		</div>
     	</div>
     </div>
     <div class="gBoxTall">
      	<div class="right">
      		<p class="message"> upon
             </p>
      	</div>
      	<div class="bottom">
      		<div class="right">
      		</div>
      	</div>
      </div>
 </div>