<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Limelight%7CFlamenco%7CFedero%7CYesteryear%7CJosefin+Sans%7CSpinnaker%7CSansita+One%7CHandlee%7CDroid+Sans"
    media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans
    for details. <script type="text/javascript" src="//use.typekit.net/YOUR-KIT-ID.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
    <title>Your poem is on its way</title>
  </head>
  
  <body>
    <div id="page-wrapper">
      <button type="submit" class="confirmation-button">Your poem is on the way.</button>
      <a href="http://sultry-mesa-9027.herokuapp.com/" class="premium-button" data-name="Sonnet" data-desc="a poem of no more than 14 lines" data-amount="5.00" data-shipping="0" data-tax="0" data-key="6cj6zmeGpMIqYdueC3aIG1YW3QCyNdbJ+PeYB9oRFnYeh5o9eh">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yeah, I've got $5 on it</a>
      <h2 class="premium-upsell">Psst. want a sonnet?</h2>
    </div>
    <script type="text/javascript" (function(window){window.DOMReady=(function(){var fns=[],isReady=false,errorHandler=null,run=function(fn,args){try{fn.apply(this,args||[]);}catch(err){if(errorHandler)
    errorHandler.call(this,err);}},ready=function(){isReady=true;for(var x=0;x<fns.length;x++)
    run(fns[x].fn,fns[x].args||[]);fns=[];};this.setOnError=function(fn){errorHandler=fn;return this;};this.add=function(fn,args){if(isReady){run(fn,args);}else{fns[fns.length]={fn:fn,args:args};}
    return this;};if(window.addEventListener){window.document.addEventListener('DOMContentLoaded',function(){ready();},false);}else{(function(){if(!window.document.uniqueID&&window.document.expando)
    return;var tempNode=window.document.createElement('document:ready');try{tempNode.doScroll('left');ready();}catch(err){setTimeout(arguments.callee,0);}})();}
    return this;})();})(window);var DwollaBtn=DwollaBtn||(function(){var _args={cssURI:'https://www.dwolla.com/content/button.min.css',dwollaPayAction:'https://www.dwolla.com/payment/pay'};return{init:function(){if(window.isDwollaReady){return false;}
    window.isDwollaReady=true;this.appendCSS();this.styleButtons();this.registerButtons();this.handleResponse();return true;},appendCSS:function(){var cssFile=document.createElement('link');cssFile.setAttribute('rel','stylesheet');cssFile.setAttribute('type','text/css');cssFile.setAttribute('href',_args.cssURI);document.getElementsByTagName('head')[0].appendChild(cssFile);},styleButtons:function(){var els=document.getElementsByClassName('premium-button');for(i=0;i<els.length;i++){var btn=els[i],amount=btn.getAttribute('data-amount');if(btn.className.indexOf('d-btn')===-1){var btnText=document.createElement('span');btnText.setAttribute('class','d-btn-text');btnText.setAttribute('id','d-btn-text');btnText.appendChild(document.createTextNode(btn.firstChild.nodeValue));btn.replaceChild(btnText,btn.firstChild);var btnIcon=document.createElement('span');btnIcon.setAttribute('class','d-btn-icon');btn.appendChild(btnIcon);btn.className+=' d-btn';}}},registerButtons:function(){var isDBtn=function(el,parent_el){var check=function(e){return(e.className.indexOf('d-btn')!==-1)&&e.nodeName=="A"}
    if(check(el)){return el;}else if(check(parent_el)){return parent_el;}
    return false;};var clickFn=function(e){var click_el=e.target,parent_el=e.target.parentNode,el;if(el=isDBtn(click_el,parent_el)){e.preventDefault();var form=document.createElement("form");form.setAttribute('method','POST');form.setAttribute('action',_args.dwollaPayAction);var inputs={destinationId:null,amount:el.getAttribute('data-amount'),shipping:el.getAttribute('data-shipping'),tax:el.getAttribute('data-tax'),name:el.getAttribute('data-name'),description:el.getAttribute('data-desc'),redirect:el.getAttribute('href'),key:el.getAttribute('data-key'),orderId:el.getAttribute('data-orderid'),facilitatorAmount:el.getAttribute('data-facilitator-fee'),notes:el.getAttribute('data-notes'),test:el.getAttribute('data-test')};for(key in inputs){if(inputs[key]!=null){var input=document.createElement("input");input.setAttribute('type','hidden');input.setAttribute('name',key);input.setAttribute('value',inputs[key]);form.appendChild(input);}}
    document.getElementsByTagName('body')[0].appendChild(form);form.submit();return false;}};document.addEventListener('click',clickFn);},handleResponse:function(){var getParameterByName=function(name){var match=RegExp('[?&]'+name+'=([^&]*)').exec(window.location.search);return match&&decodeURIComponent(match[1].replace(/\+/g,' '));};if(getParameterByName('error')=='failure'&&getParameterByName('error_description')){alert('There seemed to have been a problem with the transaction. Dwolla said: '+getParameterByName('error_description'));}
    return true;}};}());DOMReady.add(function(){DwollaBtn.init();}); </script>
  </body>

</html>