<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Limelight%7CFlamenco%7CFedero%7CYesteryear%7CJosefin+Sans%7CSpinnaker%7CSansita+One%7CHandlee%7CDroid+Sans"
    media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans
    for details. <script type="text/javascript" src="//use.typekit.net/YOUR-KIT-ID.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
    <title>Your poem is on its way</title>
  </head>
  
  <body>
    <div id="page-wrapper">
      <button class="confirmation-button">Your poem is on the way.</button>
      <button class="premium-button">Yeah, I got $5 on it</button>
      <h2 class="premium-upsell">Psst. want a sonnet?</h2>
    </div>
  </body>

</html>