@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 60%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
    position: absolute;
    top:350px;
    left:39px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    color: #f00;
  
  }
  li {

  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
 /* Easel */
 html, body {
   margin: 0px;
   padding: 0px;
   background-color: #ffffff;
 }
 #page-wrapper {
   position: relative;
   width: 980px;
   /* centers the document */
   margin: 0 auto;
   /*
   hides anything drawn off canvas.
   remove overflow and height to see things drawn off canvas.
   */
   overflow: hidden;
   height: 1000px;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 .rectangle {
   background: transparent;
   border: 2px solid #000000;
   -moz-box-shadow: 0px 1px 2px 0px #000000;
   -webkit-box-shadow: 0px 1px 2px 0px #000000;
   -o-box-shadow: 0px 1px 2px 0px #000000;
   box-shadow: 0px 1px 2px 0px #000000;
   border-radius: 2px;
   margin: 0px;
   width: 254px;
   height: 284px;
   position: absolute;
   top: 170px;
   left: 140px;
 }
 .textinput {
   width: 239px;
   height: 54px;
   padding: 5px 8px;
   font-size: 24pt;
   font-family:'Helvetica Neue';
   color: #333333;
   background-color: #ffffff;
   border: 1px solid #cfcfcf;
   border-radius: 3px;
   -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 8px 0px inset;
   -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 8px 0px inset;
   -o-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 8px 0px inset;
   box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 8px 0px inset;
   font-weight: normal;
   text-decoration: none;
   position: absolute;
   top: 203px;
   left: 420px;
 }
 .dom-heading {
   background-color: rgba(0, 0, 0, 0);
   font-family: Arial;
   border: none;
   font-size: 14pt;
   overflow: hidden;
   width: 402px;
   height: 36px;
   color: #333333;
   font-weight: bold;
   text-decoration: none;
   text-align: left;
   line-height: 1.4814814814814814;
   position: absolute;
   top: 172px;
   left: 421px;
 }
 .dom-heading-1 {
   background-color: rgba(0, 0, 0, 0);
   font-family: Arial;
   border: none;
   font-size: 14pt;
   overflow: hidden;
   width: 340px;
   height: 30px;
   color: #333333;
   font-weight: bold;
   text-decoration: none;
   text-align: left;
   line-height: 1.4814814814814814;
   position: absolute;
   top: 291px;
   left: 419px;
 }
 .textinput-1 {
   width: 239px;
   font-size: 24pt;
   font-family:'Helvetica Neue';
   color: #333333;
   background-color: #ffffff;
   border: 1px solid #cfcfcf;
   border-radius: 3px;
   -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 8px 0px inset;
   -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 8px 0px inset;
   -o-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 8px 0px inset;
   box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 8px 0px inset;
   font-weight: normal;
   text-decoration: none;
   position: absolute;
   top: 322px;
   left: 420px;

 }
 .flat-button {
   width: 218px;
   height: 38px;
   border-radius: 20px;
   color: #ffffff;
   font-family:'Helvetica Neue';
   font-size: 12pt;
   font-weight: bold;
   background-color: #ff5619;
   border: none;
   text-decoration: none;
   position: absolute;
   top: 415px;
   left: 418px;
 }
 
 
 ::-webkit-input-placeholder {
 }

 :-moz-placeholder {  
    color: gray;  
 }
 
 #user_phone{
     font-size: 24px;
     height:24px;
    line-height:24px;
 }
 
 #user_prompt{
     font-size: 24px;
     height:24px;
     line-height:24px;
 }
 
 .confirmation-button {
   width: 431px;
   height: 95px;
   border-radius: 20px;
   color: #000000;
   font-family:'Helvetica Neue';
   font-size: 24pt;
   font-weight: bold;
   background-color: #ffffff;
   border: 2px solid #000000;
   text-decoration: none;
   position: absolute;
   top: 177px;
   left: 233px;
 }
 
 .dwolla_button {
   width: 218px;
   height: 38px;
   border-radius: 20px;
   color: #ffffff;
   font-family:'Helvetica Neue';
   font-size: 12pt;
   font-weight: bold;
   background-color: #ff5619;
   border: none;
   text-decoration: none;
   position: absolute;
   top: 304px;
   left: 445px;
   line-height: 38px;
 }
 
 .premium-upsell {
   background-color: rgba(0, 0, 0, 0);
   font-family: Arial;
   border: none;
   font-size: 12pt;
   overflow: hidden;
   width: 188px;
   height: 23px;
   color: #333333;
   font-weight: bold;
   text-decoration: none;
   text-align: left;
   line-height: 1.2;
   position: absolute;
   top: 315px;
   left: 237px;
 }
 
 .title {
   background-color: rgba(0, 0, 0, 0);
   font-family: Arial;
   border: none;
   font-size: 48pt;
   overflow: hidden;
   width: 491px;
   height: 87px;
   color: #333333;
   font-weight: bold;
   text-decoration: none;
   text-align: left;
   line-height: 1.2;
   position: absolute;
   top: 20px;
   left: 140px;
 }
 .tagline {
   background-color: rgba(0, 0, 0, 0);
   font-family: Arial;
   border: none;
   font-size: 16pt;
   width: 554px;
   height: 45px;
   color: #333333;
   font-weight: bold;
   text-decoration: none;
   text-align: left;
   line-height: 1.2;
   position: absolute;
   top: 99px;
   left: 140px;
 }
 
 a:hover {
     text-decoration:none;
 }